extends layout


block content
    h1= title
    p Welcome to #{title}
    a(href='http://oldschool.runescape.com') Runescape
    canvas(id='cnv' width=500 height=300 style='border: 3px solid red;')
    script(src='/client/test.js')
