extends layout


block content
    script(src='https://code.createjs.com/easeljs-0.8.2.min.js')
    h1= title
    p Welcome to #{title}
    a(href='http://oldschool.runescape.com') Runescape
    body
        canvas(id='cnv' width=500 height=300 style='border: 3px solid red;')
    script(src='/client/test.js')

